<md-dialog aria-label="El destino ya existe" style="max-width:800px;max-height:810px; ">
    <form>
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
                <h2>Los archivos o directorios destino ya existen</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div id="cut_copy_nodes_exists">
                <p>Mientras se intentaba {{ (copy_paste_action == 'move' ? 'mover' : 'copiar') }} los
                    siguientes archivos o carpetas, nos hemos dado cuenta que ya había un archivo o carpeta
                    con su nombre donde iban a pegarse. Necesitamos saber qué hacer: renombrar, ignorar o
                    sobrescribir.</p>
                <md-content layout-padding ng-repeat="node in cut_copy_nodes_exists">
                    <div layout layout-sm="column">
                        <md-input-container flex md-no-float>
                            <md-icon ng-if="node.orig.type == 'dir'" class="mdi mdi-folder"
                                     icon="folder"></md-icon>
                            <md-icon ng-if="node.orig.type != 'dir'" class="mdi mdi-file"
                                     icon="file"></md-icon>
                            <input ng-model="node.dest_node.name" type="text" placeholder="Nombre">
                        </md-input-container>
                        <md-input-container ng-init="node.dest_node.orig_name = node.dest_node.name ">
                            <md-button ng-click="rename(node.orig, node.dest_node);"
                                       ng-disabled="node.dest_node.orig_name == node.dest_node.name">
                                <md-icon class="mdi mdi-pencil" icon="pencil"></md-icon>
                                Renombrar
                            </md-button>
                        </md-input-container>
                        <md-input-container>
                            <md-button ng-click="ignore(node.orig);"
                                       ng-disabled="node.dest_node.orig_name != node.dest_node.name">
                                <md-icon class="mdi mdi-exit-to-app" icon="exit-to-app"></md-icon>
                                Ignorar
                            </md-button>
                        </md-input-container>
                        <md-input-container>
                            <md-button ng-click="override(node.orig, node.dest_node);"
                                       ng-disabled="node.dest_node.orig_name != node.dest_node.name">
                                <md-icon class="mdi mdi-weight-kilogram" icon="weight-kilogram">
                                </md-icon>
                                Sobrescribir
                            </md-button>
                        </md-input-container>
                    </div>
                </md-content>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button style="margin-right:20px;" ng-click="ignoreAll();">
                <!--
                <md-tooltip md-direction="top">Pulse aquí para no hacer nada con los archivos que ya existen con
                    nombres repetidos (ahora y durante esta operación).</md-tooltip>
                -->
                <md-icon class="mdi mdi-exit-to-app" icon="exit-to-app"></md-icon>
                Ignorar siempre
            </md-button>
            <md-button style="margin-right:20px;" ng-click="overrideAll();">
                <!--
                <md-tooltip md-direction="top">Use este botoón para sobrescribir todos los archivos que
                    ya existiesen con el mismo nombre en la operación (ahora, y duranta esta operación).
                </md-tooltip>
                -->
                <md-icon class="mdi mdi-weight-kilogram" icon="weight-kilogram"></md-icon>
                Sobrescribir siempre
            </md-button>
        </div>
    </form>
</md-dialog>