@charset "UTF-8";
/* Arreglos Material Tables */
.mdDataTable td md-menu button {
  height: auto !important;
  line-height: inherit !important; }
  .mdDataTable td md-menu button md-icon {
    font-size: 22px; }

/* Arreglos específicos para tabla nodos */
#nodes th.col-icon {
  padding-left: 28px;
  width: 20px; }

#nodes th.col-size {
  width: 80px; }

#nodes th.col-date {
  width: 80px; }

#nodes th.col-actions {
  width: 20px; }

td > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block; }

tr.cut_copy {
  background-color: #d7e4e1;
  opacity: 0.5; }

tr.alert td {
  background: #fbf598 !important; }

@media all and (max-width: 768px) {
  .mdDataTable tr th, .mdDataTable tr td {
    font-size: 1.5em !important; }
  #nodes th.col-icon {
    padding-left: 28px;
    width: 20px; }
  #nodes th.col-size {
    width: 120px; }
  #nodes th.col-date {
    width: 140px; }
  #nodes th.col-actions {
    width: 20px; } }

#nodes-card {
  margin-bottom: 180px; }

#nodes {
  margin-bottom: 20px; }

/* Modal de Cut Copy Nodes Exists */
#cut_copy_nodes_exists p {
  margin-top: 12px;
  margin-bottom: 6px;
  margin-left: 12px;
  margin-right: 12px; }

#cut_copy_nodes_exists md-input-container > md-icon {
  margin-top: 4px; }

#cut_copy_nodes_exists md-input-container input.md-input {
  margin-top: 6px;
  padding-left: 20px; }

/* Preview files */
#file-viewer {
  z-index: 61;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -160px; }
  #file-viewer file-viewer #image-viewer img {
    max-height: calc(100vh - 100px);
    max-width: calc(100vw - 420px); }
  #file-viewer file-viewer .ace_editor {
    height: calc(100vh - 100px);
    width: 800px; }
  #file-viewer file-viewer #default-viewer .card-media {
    background: #999999;
    color: snow;
    font-size: 140px;
    text-align: center;
    margin-left: 10px; }

#rightPanel {
  position: fixed; }
  #rightPanel md-toolbar md-icon {
    margin: 0;
    margin-top: 2px; }
  #rightPanel md-card {
    box-shadow: none; }
    #rightPanel md-card .card-media {
      text-align: center;
      font-size: 100px;
      color: snow; }
  #rightPanel #extended-info {
    display: table;
    width: 100%;
    padding: 0;
    font-size: 14px;
    color: #4e4e4e; }
    #rightPanel #extended-info li {
      display: table-row; }
      #rightPanel #extended-info li span {
        display: table-cell;
        width: 50%; }
        #rightPanel #extended-info li span.key {
          text-align: right;
          padding-right: 10px; }
          #rightPanel #extended-info li span.key::after {
            content: ':'; }

#quick-start {
  margin-bottom: 30px; }
  #quick-start md-content.is-changed md-input-container {
    margin-bottom: 0; }
  #quick-start .ng-dirty {
    color: #f5d135; }
  #quick-start .subtitle {
    font-size: 12px;
    color: #dbdbdb; }
    #quick-start .subtitle a {
      color: #b4c9ff; }
  #quick-start .port-container {
    margin-right: 30px; }
  #quick-start [name=address] {
    width: 140px; }
  #quick-start [name=port] {
    width: 80px; }
  #quick-start .close-button {
    height: 48px; }
  #quick-start md-icon {
    font-size: 32px;
    margin-right: 15px;
    height: 32px; }
    #quick-start md-icon.close {
      color: #ff0000; }

/* OpenWidth */
#open-with {
  position: fixed; }
  #open-with .md-subheader-content {
    font-weight: 600; }
