{% extends "web/base.html" %}
{% block css %}
    {% if debug %}
        <!-- build:css node-nekumo.min.css -->
        <link rel="stylesheet"
              href="{{ nekumo_root }}/static/src/web/libs/angular-ui-notification/dist/angular-ui-notification.min.css">
        <link rel="stylesheet"
              href="{{ nekumo_root }}/static/src/web/libs/angular-ui-notification/dist/angular-ui-notification-extra.css">
        <link rel="stylesheet" type="text/css" href="{{ nekumo_root }}/static/src/web/css/node.css">
        <link rel="stylesheet" type="text/css"
              href="{{ nekumo_root }}/static/src/web/libs/angular-material-data-table/dist/md-data-table.css">
        <!-- endbuild -->
    {% else %}
        <link rel="stylesheet" href="{{ nekumo_root }}/static/build/node-nekumo.min.css">
    {% endif %}
{% endblock %}
{% block content %}
    {% raw %}
        <main class="container" ng-controller="Nodes">
            <div layout="row" layout-align="center">
                <ol class="breadcrumb layout-max-width">
                    <li>
                        <a href="/" ng-if="breadcrumb_nodes.length"
                           ng-click="go_to('/'); $event.preventDefault()">
                            <span class="label label-primary md-default-theme md-primary md-hue-2 md-bg">Raíz</span>
                        </a>
                        <span class="label label-default" ng-if="!breadcrumb_nodes
                        .length">Raíz</span>
                    </li>
                    <li ng-repeat="node in breadcrumb_nodes track by $index" ng-class="{'active': $last}">
                        <a href="{{ '../' + _.repeat('../', breadcrumb_nodes.length - $index - 1) + node + '/' }}"
                           ng-if="!$last"
                           class="md-default-theme md-accent md-fg"
                           ng-click="go_to('../' + _.repeat('../', breadcrumb_nodes.length - $index - 1) + node + '/',
                           $event)">
                            {{ node | decodeURIComponent }}</a>
                        <span ng-if="$last">{{ node | decodeURIComponent }}</span>
                    </li>
                </ol>
            </div>
            <div layout="row" layout-align="center">
                <md-card class="md-default-theme layout-max-width" id="nodes-card"
                         ng-if="nodes != undefined && nodes.length">
                    <md-toolbar class="md-table-toolbar md-default" ng-show="!selected.length">
                        <div class="md-toolbar-tools">
                            <span flex>{{ name || 'Directorio raíz' }}</span>
                            <nekumo-node-menu></nekumo-node-menu>
                        </div>
                    </md-toolbar>

                    <md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
                        <div class="md-toolbar-tools" layout-align="space-between">
                            <div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
                            <md-button class="md-icon-button" ng-click="delete($event)">
                                <md-icon class="mdi mdi-delete"></md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>

                    <md-table-container>
                        <table md-table ng-model="selected" md-progress="promise" id="nodes">
                            <thead md-head md-order="orderField">
                            <tr md-row>
                                <th md-column align-rule="left" class="col-icon">
                                    <md-checkbox aria-label="Select All" ng-click="toggleSelected()"
                                                 ng-checked="allSelected()"></md-checkbox>
                                </th>
                                <th md-column class="col-name" md-order-by="name">Nombre</th>
                                <th md-column class="col-size" md-numeric md-order-by="size">Tamaño</th>
                                <th md-column class="col-date" md-numeric md-order-by="modified">Modificado</th>
                                <th md-column class="col-actions">Acciones</th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row md-select="node"
                                md-select-id="{{ node.name }}"
                                ng-repeat="node in nodes | orderBy:[(orderField.indexOf('-') == -1 ? 'type' : '-type'),
                                                                     orderField]"
                                class="ani-slide {{ node.extra_style_class }}">
                                <td md-cell node-directive node="node" selecteds="selecteds">
                                    <ng-md-icon icon="{{ (node.selected ? 'check_box' : node.get_icon().icon)  }}"
                                                ng-click="node.toggleSelect();"
                                                style="fill: {{ (node.selected ? '#3bbf38' : node.get_icon().color) }}"
                                                size="28"
                                                options='{"duration": 375, "rotation": "none"}'></ng-md-icon>
                                </td>
                                <td md-cell>
                                    <a href="{{ node.get_relative_path() }}" class="md-default-theme md-accent md-fg"
                                       ng-click="(node.type == 'dir' ? go_to(
                                                                     node.get_relative_path(), $event) :
                                                                     $event.stopPropagation()) ">
                                        {{ node.name }}
                                    </a>
                                </td>
                                <td md-cell>
                                    {{ node.size | bytes }}
                                </td>
                                <td class="col-date" md-cell>
                                    <div>
                                        <span am-time-ago="node.mtime" am-preprocess="unix"></span>
                                        <md-tooltip md-direction="top">
                                            {{ (node.mtime * 1000) | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}
                                        </md-tooltip>
                                    </div>
                                </td>
                                <td md-cell>
                                    <nekumo-node-menu node="node"></nekumo-node-menu>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </md-card>
                <!-- TODO: Esto solo debería aparecer tras unos segundos. -->
                <md-card class="layout-max-width" ng-if="nodes == undefined && slow_load">
                    <md-card-content ng-init="quotes = [
                        'Éste puede ser un buen momento para hacerse un café.',
                        'Estamos recogiendo los datos uno por uno, como antaño.',
                        'No parpadee. O se perderá cómo aparecen los archivos ante usted...',
                        'Espere, estamos recogiendo los trastos.',
                        'No te pierdes nada mirando este mensaje.'
                    ]">
                        <h2 class="md-title">Unos momentos de paciencia, porfavor</h2>
                        <p>{{ quotes[Math.floor(Math.random() * quotes.length)] }}</p>
                    </md-card-content>
                </md-card>
                <md-card class="layout-max-width" ng-if="nodes != undefined && !nodes.length">
                    <md-card-content>
                        <h2 class="md-title">Nada de nada</h2>
                        <p>
                            Esta puede ser un buena oportunidad para dar un buen uso a esta carpeta. Sube
                            archivos y haz feliz a este solitario lugar. <span ng-if="name">También puedes borrarla
                            aquí y ahora, ninguno te miraremos mal. Puede que la carpeta sí; pero qué diablos,
                            ¿no es solo una carpeta?</span>
                        </p>
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <md-button class="md-warn" ng-if="name">
                            <ng-md-icon icon="delete" size="24" class="md-default-theme md-warn md-fg"></ng-md-icon>
                            Sepultar carpeta
                        </md-button>
                        <md-button class="md-primary">
                            <ng-md-icon icon="file_upload" size="24"
                                        class="md-default-theme md-primary md-fg"></ng-md-icon>
                            Subir archivos
                        </md-button>
                    </div>
                </md-card>
            </div>
        </main>
    {% endraw %}
    {% raw %}
    <script type="text/ng-template" id="nekumo/copy_paste_nodes_exists.tmpl.html">
        <md-dialog aria-label="El destino ya existe" style="max-width:800px;max-height:810px; ">
            <form>
                <md-toolbar class="md-primary">
                    <div class="md-toolbar-tools">
                        <h2>Los archivos o directorios destino ya existen</h2>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <div id="cut_copy_nodes_exists">
                        <p>Mientras se intentaba {{ (copy_paste_action == 'move' ? 'mover' : 'copiar') }} los
                            siguientes archivos o carpetas, nos hemos dado cuenta que ya había un archivo o carpeta
                            con su nombre donde iban a pegarse. Necesitamos saber qué hacer: renombrar, ignorar o
                            sobrescribir.</p>
                        <md-content layout-padding ng-repeat="node in cut_copy_nodes_exists">
                            <div layout layout-sm="column">
                                <md-input-container flex md-no-float>
                                    <md-icon ng-if="node.orig.type == 'dir'" class="mdi mdi-folder"
                                             icon="folder"></md-icon>
                                    <md-icon ng-if="node.orig.type != 'dir'" class="mdi mdi-file"
                                             icon="file"></md-icon>
                                    <input ng-model="node.dest_node.name" type="text" placeholder="Nombre">
                                </md-input-container>
                                <md-input-container ng-init="node.dest_node.orig_name = node.dest_node.name ">
                                    <md-button ng-click="rename(node.orig, node.dest_node);"
                                               ng-disabled="node.dest_node.orig_name == node.dest_node.name">
                                        <md-icon class="mdi mdi-pencil" icon="pencil"></md-icon>
                                        Renombrar
                                    </md-button>
                                </md-input-container>
                                <md-input-container>
                                    <md-button ng-click="ignore(node.orig);">
                                        <md-icon class="mdi mdi-exit-to-app" icon="exit-to-app"></md-icon>
                                        Ignorar
                                    </md-button>
                                </md-input-container>
                                <md-input-container>
                                    <md-button ng-click="override(node.orig, node.dest_node);">
                                        <md-icon class="mdi mdi-weight-kilogram" icon="weight-kilogram">
                                        </md-icon>
                                        Sobrescribir
                                    </md-button>
                                </md-input-container>
                            </div>
                        </md-content>
                    </div>
                </md-dialog-content>
                <div class="md-actions" layout="row">
                    <span flex></span>
                    <md-button style="margin-right:20px;" ng-click="ignoreAll();">
                        <md-icon class="mdi mdi-exit-to-app" icon="exit-to-app"></md-icon>
                        Ignorar siempre
                    </md-button>
                    <md-button style="margin-right:20px;" ng-click="overrideAll();">
                        <md-icon class="mdi mdi-weight-kilogram" icon="weight-kilogram"></md-icon>
                        Sobrescribir siempre
                    </md-button>
                </div>
            </form>
        </md-dialog>
    </script>

    <script type="text/ng-template" id="nekumo/menu-node.tmpl.html">
        <md-menu>
            <md-button aria-label="Open phone interactions menu" class="md-icon-button"
                       ng-click="open_menu($mdOpenMenu, $event, node)">
                <md-icon class="mdi mdi-dots-vertical" md-menu-origin icon="dots-vertical">
                </md-icon>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="ctrl.redial($event)">
                        <md-icon class="mdi mdi-download" md-menu-align-target icon="download">
                        </md-icon>
                        Descargar
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="ctrl.redial($event)" ng-disabled="selected.length > 1">
                        <md-icon class="mdi mdi-pencil" md-menu-align-target icon="pencil">
                        </md-icon>
                        Cambiar nombre
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="ctrl.redial($event)" ng-disabled="selected.length > 1">
                        <md-icon class="mdi mdi-information" md-menu-align-target icon="information">
                        </md-icon>
                        Información
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item ng-if="cut_copy_action != ''">
                    <md-button ng-click="set_menu_right_node(null); menuCtrl.paste(node, $event)" class="md-primary">
                        <md-icon class="mdi mdi-content-paste" md-menu-align-target icon="content-paste">
                        </md-icon>
                        Pegar
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-disabled="cut_copy_action != ''" ng-click="menuCtrl.copy(node, $event)">
                        <md-icon class="mdi mdi-content-copy" md-menu-align-target icon="content-copy">
                        </md-icon>
                        Copiar
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="set_menu_right_node(null); menuCtrl.cut(node, $event)"
                               ng-disabled="cut_copy_action != ''">
                        <md-icon class="mdi mdi-content-cut" md-menu-align-target icon="content-cut">
                        </md-icon>
                        Cortar
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="set_menu_right_node(null); menuCtrl.rm(node, $event)">
                        <md-icon class="mdi mdi-delete" md-menu-align-target icon="delete">
                        </md-icon>
                        Eliminar
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </script>

    {% endraw %}
{% endblock %}
{% block extra_js_libs %}
    {% if debug %}
        <!-- build:js node-libs.min.js -->
        <script src="{{ nekumo_root }}/static/src/web/libs/svg-morpheus/compile/unminified/svg-morpheus.js"></script>
        <script src="{{ nekumo_root }}/static/src/web/libs/angular-material-data-table/dist/md-data-table.js"></script>
        <script src="{{ nekumo_root }}/static/src/web/libs/angular-uuid4/angular-uuid4.js"></script>
        <script src="{{ nekumo_root }}/static/src/web/libs/moment/moment.js"></script>
        <script src="{{ nekumo_root }}/static/src/web/libs/angular-moment/angular-moment.js"></script>
        <script src="{{ nekumo_root }}/static/src/web/libs/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
        <!-- endbuild -->
    {% else %}
        <script src="{{ nekumo_root }}/static/build/node-libs.min.js"></script>
    {% endif %}
{% endblock %}
{% block extra_js %}
    {% if debug %}
        <!-- build:js node-nekumo.min.js -->
        <script src="{{ nekumo_root }}/static/src/web/js/node.js"></script>
        <!-- endbuild -->
    {% else %}
        <script src="{{ nekumo_root }}/static/build/node-nekumo.min.js"></script>
    {% endif %}
{% endblock %}