{% extends "web/base.html" %}
{% block css %}
    {% if debug %}
        <!-- build:css node-nekumo.min.css -->
        <link rel="stylesheet"
              href="{{ nekumo_root }}/static/src/web/libs/angular-ui-notification/dist/angular-ui-notification.min.css">
        <link rel="stylesheet"
              href="{{ nekumo_root }}/static/src/web/libs/angular-ui-notification/dist/angular-ui-notification-extra.css">
        <link rel="stylesheet" type="text/css" href="{{ nekumo_root }}/static/src/web/css/node.css">
        <link rel="stylesheet" type="text/css"
              href="{{ nekumo_root }}/static/src/web/libs/angular-material-data-table/dist/md-data-table.css">
        <!-- endbuild -->
    {% else %}
        <link rel="stylesheet" href="{{ nekumo_root }}/static/build/node-nekumo.min.css">
    {% endif %}
{% endblock %}
{% block content %}
    {% raw %}
        <main class="container" ng-controller="Nodes" ng-cloak>
            <div layout="row" layout-align="center" ng-controller="quickStart" id="quick-start"
                 ng-if="isAdmin && Nodes.showQuickStart">
                <section layout="column" class="md-inline-form layout-max-width md-whiteframe-z1"
                          md-theme="blue-world">
                    <md-toolbar class="radius-toolbar">
                        <div class="md-toolbar-tools">
                            <md-icon class="mdi mdi-settings settings"></md-icon>
                            <div>
                                <h2>
                                    <span>Bienvenido, administrador</span>
                                </h2>
                                <h3 class="subtitle">
                                    <span>Configuración rápida de Nekumo.
                                        <a href="#">¿Por qué estoy viendo esto?</a></span>
                                </h3>
                            </div>

                            <span flex></span>
                            <md-button aria-label="Close" class="close-button md-icon-button"
                                       ng-click="hideQuickStart()">
                                <md-icon class="mdi mdi-close close"></md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <form name="quick-start">
                        <md-content md-theme="dark-theme" layout-gt-sm="row" layout-padding
                                    ng-class="{'is-changed': isChanged}">
                            <div layout="row" class="layout-row">
                                <md-input-container>
                                    <label>Disponible en</label>
                                    <md-select ng-model="data.availability" ng-change="fieldChange('network');">
                                        <md-option ng-repeat="availabilityOption in availabilityOptions"
                                                   value="{{ availabilityOption.id }}">
                                            {{ availabilityOption.name }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container>
                                    <label>Con dirección</label>
                                    <input ng-model="data.address" name="address" ng-change="fieldChange('network');">
                                </md-input-container>
                                <md-input-container class="port-container">
                                    <label>Puerto</label>
                                    <input ng-model="data.port" type="number" ng-pattern="/^[0-9]{1,5}$/"
                                           ng-maxlength="5" name="port" ng-change="fieldChange('network');">
                                </md-input-container>
                                <md-input-container>
                                    <label>Permisos admin.</label>
                                    <md-select ng-model="data.admin_availability" ng-change="fieldChange('network');">
                                        <md-option ng-repeat="adminAvailabilityOption in adminAvailabilityOptions"
                                                   value="{{ adminAvailabilityOption.id }}">
                                            {{ adminAvailabilityOption.name }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container>
                                    <label>Permisos anónimos</label>
                                    <md-select ng-model="data.anonymous_perms" ng-change="fieldChange('network');">
                                        <md-option ng-repeat="anonymousPerms in anonymousPermsOptions"
                                                   value="{{ anonymousPerms.id }}">
                                            {{ anonymousPerms.name }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </md-content>
                        <md-content md-theme="dark-theme" layout-gt-sm="row" layout-padding ng-if="isChanged">
                            <div layout="row" class="layout-row">
                                <md-button class="md-raised md-primary" ng-click="save()">Guardar y aplicar</md-button>
                            </div>
                        </md-content>
                    </form>
                </section>
            </div>

            <div layout="row" layout-align="center">
                <ol class="breadcrumb layout-max-width">
                    <li>
                        <a href="/" ng-if="breadcrumb_nodes.length"
                           ng-click="goTo('/'); $event.preventDefault()">
                            <span class="label label-primary md-default-theme md-primary md-hue-2 md-bg">Raíz</span>
                        </a>
                        <span class="label label-default" ng-if="!breadcrumb_nodes
                        .length">Raíz</span>
                    </li>
                    <li ng-repeat="node in breadcrumb_nodes track by $index" ng-class="{'active': $last}">
                        <a href="{{ '../' + _.repeat('../', breadcrumb_nodes.length - $index - 1) + node + '/' }}"
                           ng-if="!$last"
                           class="md-default-theme md-accent md-fg"
                           ng-click="goTo('../' + _.repeat('../', breadcrumb_nodes.length - $index - 1) + node + '/',
                           $event)">
                            {{ node | decodeURIComponent }}</a>
                        <span ng-if="$last">{{ node | decodeURIComponent }}</span>
                    </li>
                </ol>
            </div>
            <div layout="row" layout-align="center">
                <md-card class="md-default-theme layout-max-width" id="nodes-card"
                         ng-if="nodes != undefined && nodes.length">
                    <md-toolbar class="md-table-toolbar md-default" ng-show="!selected.length">
                        <div class="md-toolbar-tools">
                            <span flex>{{ name || 'Directorio raíz' }}</span>
                            <nekumo-node-menu></nekumo-node-menu>
                        </div>
                    </md-toolbar>

                    <md-toolbar class="md-table-toolbar alternate" ng-show="selected.length">
                        <div class="md-toolbar-tools" layout-align="space-between">
                            <div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
                            <nekumo-node-menu></nekumo-node-menu>
                        </div>
                    </md-toolbar>

                    <md-table-container>
                        <table md-table ng-model="selected" md-progress="promise" id="nodes">
                            <thead md-head md-order="orderField">
                            <tr md-row>
                                <th md-column align-rule="left" class="col-icon">
                                    <md-checkbox aria-label="Select All" ng-click="toggleSelected()"
                                                 ng-checked="allSelected()"></md-checkbox>
                                </th>
                                <th md-column class="col-name" md-order-by="name">Nombre</th>
                                <th md-column class="col-size" md-numeric md-order-by="size">Tamaño</th>
                                <th md-column class="col-date" md-numeric md-order-by="modified">Modificado</th>
                                <th md-column class="col-actions">Acciones</th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row md-select="node"
                                md-select-id="{{ node.name }}"
                                ng-repeat="node in nodes | orderBy:[(orderField.indexOf('-') == -1 ? 'type' : '-type'),
                                                                     orderField]"
                                class="ani-slide {{ node.extra_style_class }}">
                                <td md-cell node-directive node="node" selecteds="selecteds">
                                    <ng-md-icon icon="{{ (node.selected ? 'check_box' : node.get_icon().icon)  }}"
                                                ng-click="node.toggleSelect();"
                                                style="fill: {{ (node.selected ? '#3bbf38' : node.get_icon().color) }}"
                                                size="28"
                                                options='{"duration": 375, "rotation": "none"}'></ng-md-icon>
                                </td>
                                <td md-cell>
                                    <!-- TODO: hacer que goTo acepte como argumento node, para redirigir al archivo
                                    (preview) -->
                                    <!-- <a href="{{ node.get_relative_path() }}" class="md-default-theme md-accent
                                    md-fg"
                                       ng-click="(node.type == 'dir' ? goTo(
                                                                     node.get_relative_path(), $event) :
                                                                     $event.stopPropagation()) ">
                                        {{ node.name }}
                                    </a> -->
                                    <a href="{{ node.get_relative_path() }}" class="md-default-theme md-accent md-fg"
                                       ng-click="goTo(node, $event);">
                                        {{ node.name }}
                                    </a>
                                </td>
                                <td md-cell>
                                    {{ node.size | bytes }}
                                </td>
                                <td class="col-date" md-cell>
                                    <div>
                                        <span am-time-ago="node.mtime" am-preprocess="unix"></span>
                                        <md-tooltip md-direction="top">
                                            {{ (node.mtime * 1000) | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}
                                        </md-tooltip>
                                    </div>
                                </td>
                                <td md-cell>
                                    <nekumo-node-menu node="node"></nekumo-node-menu>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </md-card>
                <!-- TODO: Esto solo debería aparecer tras unos segundos. -->
                <md-card class="layout-max-width" ng-if="nodes == undefined && slow_load">
                    <md-card-content ng-init="quotes = [
                        'Éste puede ser un buen momento para hacerse un café.',
                        'Estamos recogiendo los datos uno por uno, como antaño.',
                        'No parpadee. O se perderá cómo aparecen los archivos ante usted...',
                        'Espere, estamos recogiendo los trastos.',
                        'No te pierdes nada mirando este mensaje.'
                    ]">
                        <h2 class="md-title">Unos momentos de paciencia, porfavor</h2>
                        <p>{{ quotes[Math.floor(Math.random() * quotes.length)] }}</p>
                    </md-card-content>
                </md-card>
                <md-card class="layout-max-width" ng-if="nodes != undefined && !nodes.length">
                    <md-card-content>
                        <h2 class="md-title">Nada de nada</h2>
                        <p>
                            Esta puede ser un buena oportunidad para dar un buen uso a esta carpeta. Sube
                            archivos y haz feliz a este solitario lugar. <span ng-if="name">También puedes borrarla
                            aquí y ahora, ninguno te miraremos mal. Puede que la carpeta sí; pero qué diablos,
                            ¿no es solo una carpeta?</span>
                        </p>
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <md-button class="md-warn" ng-if="name">
                            <ng-md-icon icon="delete" size="24" class="md-default-theme md-warn md-fg"></ng-md-icon>
                            Sepultar carpeta
                        </md-button>
                        <md-button class="md-primary">
                            <ng-md-icon icon="file_upload" size="24"
                                        class="md-default-theme md-primary md-fg"></ng-md-icon>
                            Subir archivos
                        </md-button>
                    </div>
                </md-card>

                <!-- TODO: sidebar -->
                <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right"
                            md-is-open="isRightPanelOpen" id="rightPanel">
                    <md-toolbar class="md-theme-light">
                        <h1 class="md-toolbar-tools">
                            <md-icon class="mdi mdi-information" icon="information"></md-icon>
                            Información
                        </h1>
                    </md-toolbar>
                    <md-content ng-controller="RightPanelCtrl" ng-if="_previewFile.node">
                        <md-card>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{ getMimetypeTitle() }}</span>
                                    <span class="md-subhead">
                                        <div>
                                            <span am-time-ago="_previewFile.node.mtime" am-preprocess="unix"></span>
                                            <md-tooltip md-direction="top">
                                                {{ (_previewFile.node.mtime * 1000) | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}
                                            </md-tooltip>
                                        </div>
                                    </span>
                                    <span class="md-subhead">Tamaño: {{ _previewFile.node.size | bytes }}</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-md card-media" ng-style="{'background': getIconColor()}">
                                        <span class="mdi mdi-{{ getIcon() }}"></span>
                                    </div>
                                </md-card-title-media>
                            </md-card-title>
                        </md-card>
                        <ul id="extended-info">
                            <li ng-repeat="info_line in extendedInfo">
                                <span class="key">{{ info_line.description }}</span>
                                <span class="value">{{ info_line.values.join(', ') }}</span>
                            </li>
                        </ul>
                    </md-content>
                </md-sidenav>
            </div>

            <div ng-if="isOpenRight()" id="file-viewer">
                <file-viewer node="_previewFile.node"></file-viewer>
            </div>
        </main>
    {% endraw %}
    {% raw %}

    <!-- <script type="text/ng-template" id="nekumo/file-viewer-load.tmpl.html">
        <file-viewer></file-viewer>
    </script> -->

    {% endraw %}
{% endblock %}
{% block extra_js_libs %}
    {% if debug %}
        <!-- build:js node-libs.min.js -->
        <script src="{{ nekumo_root }}/static/src/web/libs/svg-morpheus/compile/unminified/svg-morpheus.js"></script>
        <script src="{{ nekumo_root }}/static/src/web/libs/angular-material-data-table/dist/md-data-table.js"></script>
        <script src="{{ nekumo_root }}/static/src/web/libs/angular-uuid4/angular-uuid4.js"></script>
        <script src="{{ nekumo_root }}/static/src/web/libs/moment/moment.js"></script>
        <script src="{{ nekumo_root }}/static/src/web/libs/angular-moment/angular-moment.js"></script>
        <script src="{{ nekumo_root }}/static/src/web/libs/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
        <!-- endbuild -->
    {% else %}
        <script src="{{ nekumo_root }}/static/build/node-libs.min.js"></script>
    {% endif %}
{% endblock %}
{% block extra_js %}
    {% if debug %}
        <!-- build:js node-nekumo.min.js -->
        <script src="{{ nekumo_root }}/static/src/web/js/node.js"></script>
        <script src="{{ nekumo_root }}/static/src/web/js/directives/node-menu.js"></script>
        <script src="{{ nekumo_root }}/static/src/web/js/directives/file-viewer.js"></script>
        <script src="{{ nekumo_root }}/static/src/web/js/controllers/quick-start.js"></script>
        <script src="{{ nekumo_root }}/static/src/web/js/controllers/right-panel.js"></script>
        <!-- endbuild -->
    {% else %}
        <script src="{{ nekumo_root }}/static/build/node-nekumo.min.js"></script>
    {% endif %}
{% endblock %}