/* Arreglos Material Tables */
.mdDataTable td md-menu {
    button {
        height: auto !important;
        line-height: inherit !important;
        md-icon {
            font-size: 22px;
        }
    }
}

/* Arreglos específicos para tabla nodos */

#nodes {
    th {
        &.col-icon {
            padding-left: 28px;
            width: 20px;
        }
        &.col-size {
            width: 80px;
        }
        &.col-date {
            width: 80px;
        }
        &.col-actions {
            width: 20px;
        }
    }
}


td {
    > span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
    }
}

tr {
    &.cut_copy {
        background-color: #d7e4e1;
        opacity: 0.5;
    }
    &.alert {
        td {
            background: #fbf598 !important;
        }
    }
}

@media all and (max-width: 768px) {
    .mdDataTable {

        tr {
            th, td {

                font-size: 1.5em !important;
            }
        }

    }

    #nodes {
        th {
            &.col-icon {
                padding-left: 28px;
                width: 20px;
            }
            &.col-size {
                width: 120px;
            }
            &.col-date {
                width: 140px;
            }
            &.col-actions {
                width: 20px;
            }
        }
    }
}

#nodes-card {
    margin-bottom: 180px;
}

#nodes {
    margin-bottom: 20px;
}

/* Modal de Cut Copy Nodes Exists */
#cut_copy_nodes_exists {
    p {
        margin-top: 12px;
        margin-bottom: 6px;
        margin-left: 12px;
        margin-right:12px;
    }
    md-input-container {
        >md-icon {
            margin-top: 4px;
        }
        input.md-input {
            margin-top: 6px;
            padding-left: 20px;
        }
    }
}